<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Configurações</title>
</head>
<body>
    <h1 class="text-center mt-3">Configurações</h1>
    <div class="row justify-content-center  mt-4">
        <button class="btn btn-primary col-4 mr-4">Informações da conta</button>
        <button class="btn btn-primary col-4">Mudar tema</button>
    </div>
    
    <div class="row justify-content-center  mt-4">
        <button class="btn btn-primary col-4 mr-4">Contatar suporte</button>
        <button class="btn btn-primary col-4">Termos de serviço</button>
    </div>
    
</body>
</html>