 .body{
    height: 100vh;    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} 
 .post-container{
    display:flex;
    width: 50%; /* Defina a largura do contêiner de post */
    margin-left: auto; /* Centralize horizontalmente */
    margin-right: auto; /* Centralize horizontalmente */
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}
.postBox{
    margin: 20px 0; /* Espaçamento entre os postBox */

}
.post{
    width: 400px;
    background-color: rgb(65, 75, 75);
    color: white;
    padding: 20px;
    margin-bottom: 20px; /* Espaçamento entre os posts */

}

.post img{
    size: 30%; 
    margin-bottom: 10px;
}
.comment{  
    
}
