<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/versao/css/all.min.css">
    <link rel="stylesheet" href="menu.css">
    <title>Menu</title>
</head>
<body>
    <div class="post-container">
        <div class="post"></div>
    <div class="comment"><span style="opacity: 0.5;">comentar...</span></div>
    <span class="comment-icon"><i class="fas fa-heart"></i></span>
    </div>
    <div class="post-container">
        <div class="post"></div>
    <div class="comment"><span style="opacity: 0.5;">comentar...</span></div>
    <span class="comment-icon"><i class="fas fa-heart"></i></span>
    </div>
    <div class="post-container">
        <div class="post"></div>
    <div class="comment"><span style="opacity: 0.5;">comentar...</span></div>
    <span class="comment-icon"><i class="fas fa-heart"></i></span>
    </div>
    <div class="post-container">
        <div class="post"></div>
    <div class="comment"><span style="opacity: 0.5;">comentar...</span></div>
    <span class="comment-icon"><i class="fas fa-heart"></i></span>
    </div>
</body>
</html>