.body{
    position: absolute;
    height: 100vh;
    margin: 0;
    
}
.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
}
.post{
    border: 1px solid #ccc;
    padding: 70px;
    margin: 10px;
    width: 100px;
    text-align: center;
    background-color: #f8f8f8;

}
.comment{
    border: 1px solid #ccc;
    margin: 1;
    padding: 7px;
    background-color: #fff;
    width: 100px;

}
.comment-icon{
    color: red;
    margin-right: 5px;
}
